.page {
  display: grid;
  height: 100vh;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

.header {
  grid-column: 1 / 3;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 75px);
}
